/* style for the eye */
eyes {
	display: inline-block;
	background-color: #fff;
	overflow: hidden;
	width: 100px;
	height: 60px;
	border: 1px solid #000;
	border-radius: 50px;
}

/* style for the eye's pupil */
eyes > div {
	width: 50px;
	height: 50px;
	overflow:hidden;
	margin-top: 5px;
	margin-left: 25px;
	background: #000;
	/* border: 10px solid #00f; */
	border-radius: 50px;
}
